$titleFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$subTitleFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: $titleFont;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    //    min-height: 100%;
    //    height: 100vh;
}
hr {
    margin: 50px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.navbar {
    padding-top: 5px;
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    border-bottom: 1px solid silver;
    color: white;
    padding-bottom: 8px;
}

.navitem {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
}
.navitem > a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 1px solid black;
}
.navitem > a:hover {
    border: 1px solid silver;
}
.navLogo {
    height: 22px;
    padding: 0;
    padding-right: 50px;
    margin: 0;
    width: 110px;
}


#heading {
    background-color: black;
    font-family: $subTitleFont;
    //font-family: 'Times New Roman', Times, serif;
    //font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #707070;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 32px;
}
#headingLogo {
    overflow-x:hidden;
}
#headingTitle {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    color: dimgray;
    font-size: 3rem;
    text-align: center;
}
#headingAsLogo {
    width: 300px;
}
#headingDescription {
    background-color: black;
    color: #A0A0A0;
    text-align: center;
    font-size: .9rem;
    padding-bottom: 15px;
}
#headingTag {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 50%;
    color: #A0A0A0;
    font-size: .9rem;
    display: none;
}
.bottomPage {
    background-color: black;
    height: 40px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-end;
    position: relative;
}

.featureSections {
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 0;
//    display: flex;
//    flex-flow: row wrap;
//    justify-content: space-around;
}

.featureItem {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.featureItemTitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}
.featureItemDesc {
//
}
.featureIcon {
    padding-right: 10px;
    padding-bottom: 20px;
    width: 80px;
    height: 80px;
}


/*/////////////////
featureSection {
    padding-top: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 120px;
    text-align: center;
}
.featureTitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    text-align: center;
}
/////////////////*/




.homeContentSections {
    //background-color: white;
    /*flex-grow: 0;*/
    padding-left: 3px;
    padding-right: 3px;
    flex-shrink: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.homeContentSection {
    flex-grow: 0;
    flex-shrink: 1;
    padding: 10px;
}

.homeContentTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.homeContentItem {
    color: black;
    padding: 3px;
}

.homePic {
    flex-grow: 1;
    flex-shrink: 1;
}
.sectionTitle {
    font-family: $subTitleFont;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: dimgray;
    padding-bottom: 10px;
}
.paradigm {
    padding: 5px;
}
.paradigmSections {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.paradigmSection {
    display: flex;
    width: 98%;
    flex-direction: column;
}
.paradigmGroup {
    display: flex;
    flex-direction: row;
}
.paradigmEdge {
    flex-grow: 1;
    flex-shrink: 1;
}
.dbIcon {
    width: 250px;
}
.couplingIcon {
    height: 100px;
    width: 100px;
}
.paradigm {
//    background-color: gainsboro;
}
#sprocTitle {
    font-family: $subTitleFont;
    font-weight: bold;
    font-size: 1.1rem;
    padding-left: 20px;
    padding-right: 20px;
}
#sprocDesc {
    padding-left: 30px;
    padding-right: 30px;
}

#footer {
    background-color: black;
    color: dimgray;
    font-size: .8rem;
}
.whatsNew {
    //width: 60%;
    margin-left:auto;
    margin-right: auto;
}
@media (min-width: 640px) {
    .paradigmSection {
        width: 49%;
        flex-direction: row;
    }
    .featureIcon {
        width: 120px;
        height: 120px;
        padding-right: 20px;
    }
    .featureSections {
        padding-left: 30px;
        padding-right: 30px;
    }
    .paradigm {
        padding: 30px;
    }
}
@media (min-width: 980px) {
    #headingDescription {
        display: none;
    }
    #headingTag {
        display: block;
    }
}

.question { 
    font-weight: bold;
}
.answer {
    //
}