body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }

hr {
  margin: 50px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

.navbar {
  display: flex;
  flex-flow: row;
  background-color: black;
  border-bottom: 1px solid silver;
  color: white;
  height: 25px; }

.navitem {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100px; }

.navitem > a {
  text-decoration: none;
  color: white;
  padding: 5px;
  border: 1px solid black; }

.navitem > a:hover {
  border: 1px solid silver; }

#heading {
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #707070;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 32px; }

#headingLogo {
  overflow-x: hidden; }

#headingTitle {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  color: dimgray;
  font-size: 3rem;
  text-align: center; }

#headingDescription {
  background-color: black;
  color: #A0A0A0;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 15px; }

.bottomPage {
  background-color: black;
  height: 40px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-end;
  position: relative; }

.featureSections {
  padding-left: 3px;
  padding-right: 3px;
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

featureSection {
  padding-top: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 120px;
  text-align: center; }

.featureTitle {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  text-align: center; }

.homeContentSections {
  /*flex-grow: 0;*/
  padding-left: 3px;
  padding-right: 3px;
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.homeContentSection {
  flex-grow: 0;
  flex-shrink: 1;
  padding: 10px; }

.homeContentTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: black; }

.homeContentItem {
  color: black;
  padding: 3px; }

.homePic {
  flex-grow: 1;
  flex-shrink: 1; }

.paradigmTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: dimgray; }

.paradigmSections {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.paradigmSection {
  display: flex;
  width: 98%;
  flex-direction: column; }

.paradigmGroup {
  display: flex;
  flex-direction: row; }

.paradigmEdge {
  flex-grow: 1;
  flex-shrink: 1; }

.dbIcon {
  width: 250px; }

.couplingIcon {
  height: 100px;
  width: 100px; }

.featureIcon {
  height: 120px;
  width: 120px; }

#sprocTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  padding-left: 20px;
  padding-right: 20px; }

#sprocDesc {
  padding-left: 30px;
  padding-right: 30px; }

#footer {
  background-color: black;
  color: dimgray;
  font-size: .8rem; }

.whatsNew {
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 640px) {
  .paradigmSection {
    width: 49%;
    flex-direction: row; } }

